 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

 body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: 'poppind','sans-serif';
 }
 li{
    padding: 10px;
 }
 section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

 }
 .nav-link{
    font-size: 20px;
    font-weight: bold;
    border: 2px solid rgb(255, 255, 255);
    
 }
 .nav-link:hover{
    border-bottom: 2px solid blueviolet;
    transition: 0.1;
 }
 .banner{
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(180deg, rgb(255, 255, 255) 0, rgba(255, 255, 255, 0.373) 100%),url("https://html.liviucerchez.com/crowdinvest/tmp/sample-header1.jpg");
   background-position: center;
   background-size:cover;

 }
.back-img{
   height: 100vh;
   width: 100%;
   background-image:linear-gradient(180deg, rgb(255, 255, 255) 0, rgba(255, 255, 255, 0.373) 100%),url("https://html.liviucerchez.com/crowdinvest/tmp/sample-header4.jpg");
  background-position:center;
  background-size:cover;

}
.about-img{
   height: 50vh;
   width: 100%;
   background-image:linear-gradient(180deg, rgb(255, 255, 255) 0, rgba(255, 255, 255, 0.373) 100%),url("https://html.liviucerchez.com/crowdinvest/tmp/sample-header4.jpg");
  background-position:center;
  background-size:cover;

}

.card-horizontal {
   display: flex;
   flex: 1 1 auto;
}
.form-control::placeholder {
   font-size: 0.95rem;
   color: #aaaaaa00;
   font-style: italic;
 }

